
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Gabarito", sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    border-bottom: solid black 1px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    
}
.navbar__s1__title{
    color: #A435F0;
}
.navbar__s2 input{
    border: none;
    font-size: 15px;
    width: 50%;
    
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 70%;
}
.navbar__s3{
    display: flex;
    gap: 10px;
}
 /* My Learning Popup */

 .mylearning{
    cursor: pointer;
    position: relative;
 }

 .mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top: 150%;
    padding: 20px;
    right: 0;
    display: none;
 }
 .mylearning:hover .mylearning__popup{
    display: block;

 }

.categories{
    display: flex;
    justify-content: space-around;
    border-bottom: solid black 1px;
    padding: 10px
}
.categories p{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 25px;
}
.sale__image img{
    width: 100%;
}

.sale__image{
    position: relative;
}
.sale-image__offer{
    width: 35%;
    position: absolute;
    top: 10%;
    left: 10%;
    border: solid black 2px;
    background-color: white;
    padding: 2% ;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom {

0%{
    transform: scale(0);
    opacity: 0;
}
100%{
    transform: scale(1);
    opacity: 1;
    
}
}
.recommended{
    padding: 10px;
}
.recommended__container{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.course__card{
    width: 325px;
}
.course__card img{
    width: 100%;
    height: 60%; 
}
.topics,.popular{
    padding: 10px;
}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p{
    border: solid gray 1px;
    flex-grow: 1;
    padding: 10px;
    flex-basis: 25%;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px; 
}
.footer{
    background-color: black;
    color: white;
    padding: 30px;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Gabarito", sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    border-bottom: solid black 1px;
    justify-content: space-between;
    align-items: center;
    
}
.navbar__s1__title{
    color: #A435F0;
}
.navbar__s2 input{
    border: none;
    font-size: 15px;
    width: 50%;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 70%;
}
.navbar__s3{
    display: flex;
    gap: 10px;
}
.navbar__s4{
    display: none;
}
.categories{
    display: flex;
    justify-content: space-around;
    border-bottom: solid black 1px;
    padding: 10px
}
.categories p{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 25px;
    border: #A435F0 solid 1px;
}
.categories p:hover{
    transition: 1s;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border: #A435F0 solid 1px;
}
.sale__image img{
    width: 100%;
}
.recommended{
    padding: 10px;
}
.recommended__container{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.course__card{
    flex: 1;
    flex-basis: 20%;
    margin: 5px;
}
.course__card img{
    width: 100%;
    height: 60%; 
}
.topics,.popular{
    padding: 10px;
}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p{
    border: solid gray 1px;
    flex-grow: 1;
    padding: 10px;
    flex-basis: 25%;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px; 
}
.footer{
    background-color: black;
    color: white;
    padding: 30px;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

/* Media Queries */
@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {
    .course__card{
        flex-basis: 40%;
    }
    .categories{
        display: none;
    }
    .navbar__s2,.navbar__s3{
        display: none;
    }
    .navbar__s4{
        display: block;
    }
}